{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
        <h1>Create new team</h1>

        {{ include('team/_form.html.twig') }}
        </div>
    </div>
{% endblock %}