.main-div-crud {
        margin: 0 22vw;
}
.main-div-crud-list {
        margin: 0 8vw;
}

.example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
}
.example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
}
.tablecenter {
        border-radius: 5px;
        width: 0%;
        margin: 0px auto;
        float: none;
}
.clickable-row{
        cursor: pointer;
}
.button-navbar{

        color: #00304A !important;
        text-align: center;
}
.button-navbar:hover,
.button-navbar:active,
.button-navbar:focus{
        font-size: 103%;
        color: #001C2B !important;
}
.button-search{
        border-color: #00304A;
        color: #00304A;
}
.button-search:hover{
        background-color: #26607F;
}
.navbar-background{
        background-color: #4ABFFF;
}
.dropdown-navbnar{
        background-color: #2C6F94;
}
.dropdown-navbnar:hover{
        background-color: #26607F;
}
.dropdown-toggle:focus, .dropdown-toggle:active{
        background: #26607F !important;
}
.navicon{
        align-self: center;
}

.pright {
        text-align: right;
}

.navicon:hover,
.navicon:active,
.navicon:focus {
        width:62px;
        height:52px;
        align-self: center;
}
