.main-div-crud {
        margin: 0 22vw;
}
.main-div-crud-list {
        margin: 0 8vw;
}

.example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
}
.example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
}
.tablecenter {
        border-radius: 5px;
        width: 0%;
        margin: 0px auto;
        float: none;
}
.clickable-row{
        cursor: pointer;
}
.navbar-background{
        background-color: #4ABFFF;
}

.navicon{
        align-self: center;
}

.pright {
        margin-bottom: 0;
        text-align: right;
}

.navicon:hover,
.navicon:active,
.navicon:focus {
        width:62px;
        height:52px;
        align-self: center;
}

.auto-expand{
        box-sizing: border-box;
        resize: none;
}

.pointer-events-none{
        pointer-events: none;
}