.main-div-crud {
        margin: 0 22vw;
}
.main-div-crud-big {
        margin: 0 15vw;
}
.main-div-crud-list {
        margin: 0 8vw;
}

.example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
}
.example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
}
.tablecenter {
        border-radius: 5px;
        width: 0%;
        margin: 0px auto;
        float: none;
}
.clickable-row{
        cursor: pointer;
}

.clickable-column {
        cursor: pointer;
}

.button-navbar{
        color: #2C6F94;
        text-align: center;
}
.button-navbar:hover,
.button-navbar:active,
.button-navbar:focus{
        font-size: 103% !important;
        color: #2C6F94;
}

.navbar-background{
        background-color: #4ABFFF;
        color: #2C6F94 !important;
}

.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus{
        background-color: #2C6F94 !important;
}

.pright {
        margin-bottom: 0;
        text-align: right;
}

.navicon{
    align-self: center;
}
.navicon:hover,
.navicon:active,
.navicon:focus {
        width:62px;
        height:52px;
        align-self: center;
}

.auto-expand{
        box-sizing: border-box;
        resize: none;
}

.pointer-events-none{
        pointer-events: none;
}

.btn-dark {
        color: #FFFFFF;
        background-color: #2C6F94;
        border-color: #00468C;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
        color: #FFFFFF;
        background-color: #1D4459;
        border-color: #00468C;
}

.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
        background-image: none;
}

.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
        background-color: #2C6F94;
        border-color: #00468C;
}

.btn-dark .badge {
        color: #2C6F94;
        background-color: #FFFFFF;
}