{% extends 'base.html.twig' %}

{% block body %}
    {{ message }}
    <h2>Test data: </h2>
    <p>Family members of House Lannister and House Greyjoy. Mail ends with '@co.todo'. Passwords for all test users is 1234. Typical user jaime@co.todo or euron@co.todo</p>
{% endblock %}
