{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <div class="main-div-crud">

        <h1>Create new Task</h1>

        {{ include('task/_form.html.twig') }}

        <a class="btn btn-outline-primary" href="{{ path('task_index') }}">Back to list</a>
    </div>
{% endblock %}