{% extends 'base.html.twig' %}

{% block title %}Roles{% endblock %}

{% block body %}
    <div class="main-div-crud-list">

        <h1>Roles</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    <td>{{ role.type }}</td>
                    <td>
                        <a class="btn btn-outline-secondary" href="{{ path('role_show', {'id': role.id}) }}">Show</a>
                        <a class="btn btn-outline-primary" href="{{ path('role_edit', {'id': role.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-outline-success" href="{{ path('role_new') }}">Create new</a>
    </div>
{% endblock %}