{# templates/emails/work.html.twig #}
<h3>Assigning</h3>

<p>You have been assigned to task.</p>


{# example, assuming you have a route named "login" #}
Go to: <a href="#">{{ notification.link }}</a>.
