{# templates/emails/work.html.twig #}
<h3>Closed task</h3>

<p>Task has been closed.</p>


{# example, assuming you have a route named "login" #}
Go to: <a href="{{ app.request.getSchemeAndHttpHost() }}{{ notification.link }}">{{ notification.link }}</a>.
