{# templates/emails/work.html.twig #}
<h3>Commented</h3>

<p>Someone comented task where you are assigned in.</p>


{# example, assuming you have a route named "login" #}
Go to: <a href="{{ app.request.getSchemeAndHttpHost() }}{{ notification.link }}">{{ notification.link }}</a>.
