{# templates/emails/work.html.twig #}
<h3>Changed role</h3>

<p>Your role has been changed.</p>


{# example, assuming you have a route named "login" #}
Go to: <a href="{{ app.request.getSchemeAndHttpHost() }}{{ notification.link }}">{{ notification.link }}</a>.
