{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1>Create new project</h1>

            {{ include('project/_form.html.twig') }}
        </div>
    </div>
{% endblock %}