{% extends 'base.html.twig' %}

{% block title %}New Work{% endblock %}

{% block body %}
    <div class="main-div-crud">

        <h1>Create new Work</h1>

        {{ include('work/_form.html.twig') }}

        <a class="btn btn-outline-primary" href="{{ path('work_index') }}">Back to list</a>
    </div>
{% endblock %}